/* TODO Add site wide styles */

html,
body {
  height: 100%;
  /* display: flex; */
  font-family: 'Open-Dyslexic', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#green {
  height: 100%;
  background: rgb(255, 217, 0);
  text-align: center;
  color: black;
  position: absolute;
}
